{
    "android": {
        "release": {
            "keystore": "",
            "storePassword": "",
            "alias": "",
            "password" : "",
            "keystoreType": "jks",
            "packageType": "apk"
        }
    }
}